<!DOCTYPE html>
<html lang="vi">
    <head>
        <meta charset="UTF-8" >
      <meta name="viewport" content="width=device-width,initial-scale=1">
      <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap" rel="stylesheet">

        <link href="../assets/css/admin/admin-sidebar.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" rel="stylesheet">
        <title>Admin sidebar</title>
    </head>

    <body>
        <aside class="side-bar">
            <div class="logo">
                <h2>LEGO STORE</h2>
            </div>
            <nav class="menu">
                <ul class="system">
                    <li><a href="pages/dashboard.html" class="active"><i class="fa-solid fa-house"></i>Overview</a></li>
                    <li><a href="pages/products.html"><i class="fa-solid fa-envelope"></i>Messages</a> <span class="message">2</span></li>
                    <li><a href="pages/orders.html"><i class="fa-solid fa-box"></i>Products</a></li>
                    <li><a href="pages/users.html"><i class="fa-solid fa-receipt"></i>Orders</a></li>
                    <li><a href="pages/settings.html"><i class="fa-solid fa-users"></i>Customers</a></li>
                    <li><a href=""><i class="fa-solid fa-gear"></i>Settings</a></li>
                </ul>
                <ul class="support">
                    <li><a href="">Help</a></li>
                    <li><a href="">Contact us</a></li>
                    <li><a href=""><i class="fa-solid fa-right-from-bracket"></i>Log out</a></li>
                </ul>
            </nav>
        </aside>

        <div class="main-content">
            <header class="admin-header">
                <h1>Welcome back, Hoang</h1>
                
                <div class="admin-info">
                     <span class="search-bar">
                        <button><i class="fa-solid fa-magnifying-glass"></i></button>
                        <input placeholder="Search">
                     </span>
                     <span class="info">
                    <i class="fa-solid fa-bell">
                        <span class="noti">3</span>
                    </i>
                    <img src="../assets/images/avt.png" alt="admin avt"/>
                    <p class="nametag">Việt Hoàng</p>
                    <i class="fa-solid fa-chevron-down"></i>
                    </span>
                </div>
            </header>
            <!---noi dung o day-->
            <section class="content">
                <div class="stat-top">
                    <div class="stat-card">
                        <div class="stat-header">
                            <i class="fa-solid fa-bag-shopping"></i>
                            <div class="stat-name">
                                <h3>Total Sales</h3>
                                <p>212 Orders</p>
                            </div>
                             <i class="fa-solid fa-chevron-right"></i>
                        </div>
                        <div class="stat-value">
                            <h2>12.323$</h2>
                        </div>
                        <div class="stat-footer">
                                <i class="fa-solid fa-arrow-trend-up"></i>
                                <p class="percent">+15.23%</p>
                            <p class="subtext">+1.2k this week</p>
                        </div>
                    </div>

                    <div class="stat-card">
                        <div class="stat-header">
                            <i class="fa-solid fa-bag-shopping"></i>
                            <div class="stat-name">
                                <h3>Total Sales</h3>
                                <p>212 Orders</p>
                            </div>
                             <i class="fa-solid fa-chevron-right"></i>
                        </div>
                        <div class="stat-value">
                            <h2>12.323$</h2>
                        </div>
                        <div class="stat-footer">
                                <i class="fa-solid fa-arrow-trend-up"></i>
                                <p class="percent">+15.23%</p>
                            <p class="subtext">+1.2k this week</p>
                        </div>
                    </div>

                    <div class="stat-card">
                        <div class="stat-header">
                            <i class="fa-solid fa-bag-shopping"></i>
                            <div class="stat-name">
                                <h3>Total Sales</h3>
                                <p>212 Orders</p>
                            </div>
                             <i class="fa-solid fa-chevron-right"></i>
                        </div>
                        <div class="stat-value">
                            <h2>12.323$</h2>
                        </div>
                        <div class="stat-footer">
                                <i class="fa-solid fa-arrow-trend-up"></i>
                                <p class="percent">+15.23%</p>
                            <p class="subtext">+1.2k this week</p>
                        </div>
                    </div>
                </div>


                <div class="stat-bottom">
                    <div class="sale-performance">
                        <div class="header">
                            <h2>Sale Performance</h2>
                            <buton>Export Data</buton>
                            <btton>Last 14 Days</btton>
                        </div>
                        <div class="test">

                        </div>
                    </div>
                    <div class="top-categories">
                        <div class="header">
                            <h2>Top Categories</h2>
                        </div>
                        <div class="test">

                        </div>
                        <div class="so do">
                            <p>1</p>

                        </div>
                    </div>
                </div>
            </section>
        </header>
    </body>
</html>