<!DOCTYPE html>
<html lang="vi">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="../assets/css/components/components.css" rel="stylesheet"/>
  <title>flase-sale-item</title>
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
  />
  <link rel="stylesheet" href="../assets/css/components/components.css">
</head>
<body>
        <div class="flase-sale-item">
        <p class="product-sale">20% </br>OFF</p>
        <img src="../assets/images/product1.webp" alt="Bộ xếp hình LEGO City Cứu hỏa 60320 - Fire Station" />
        <p class="product-code">SKU: 60320</p>
        <h5 class="product-name">Bộ xếp hình LEGO City Cứu hỏa 60320 - Fire Station</h5>
        <span class="product-price">
            <p id="new">1.200.000₫</p>
            <p id="old">1.500.000₫</p>
        </span>
      <div class="Sale-progress">
        <p class="progress-bar">
            <span class="sold">Đá bán: 10</span>
            <span class="unsold"></span>
        </p>
        <button class="btn-add-to-cart"><i class="fa-solid fa-cart-plus"></i></button>
      </div>
    </div>
</body>