<!DOCTYPE html>
<html lang="vi">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>Product Item</title>
  <link rel="stylesheet" href="../assets/css/components/header.css">
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
  />
</head>
<body>
    <div class="product-item">
        <p class="product-sale">-20%</p>
        <img src="../assets/images/product1.webp" alt="Bộ xếp hình LEGO City Cứu hỏa 60320 - Fire Station" />
        <p class="product-code">SKU: 60320</p>
        <h5 class="product-name">Bộ xếp hình LEGO City Cứu hỏa 60320 - Fire Station</h5>
        <span class="product-price">
            <p id="new">1.200.000₫</p>
            <p id="old">1.500.000₫</p>
        </span>
      </a>
      <div class="product-cart">
      <button class="btn-add-to-cart"><i class="fa-solid fa-cart-plus"></i> Thêm vào giỏ</button>
     <p class="heart"> <i class="fa-solid fa-heart"></i></p> 
      </div>
    
    </div>
        
</body>
</html>