
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
.home-content {
  background-color: #ffffff;
}

.banner {
  display: flex;
  width: 80%;
  margin: 20px auto;
  justify-content: center;
}
.banner img {
  width: 80%;
  flex: 1;
  margin: 0px 20px;
  border-radius: 10px;
}
.banner button {
  border: none;
  font-size: 24px;
  cursor: pointer;
  align-self: center;
}

.new-product{
  text-align: center;
  color: #555;
  font-size: 14px;
  margin-top: 10px;
  
}