
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

ul{
  list-style: none;
}
.home-content{
  width: 80%;
  margin: 10px auto;
  text-align: center;
}
.banner {
  display: flex;
  width: 100%;
  margin: 20px auto;
  justify-content: center;
}
.banner img {
  flex: 1;
  margin: 0px 20px;
  border-radius: 20px;
}

.home-content h2{
  color: #a4161a;
  font-size: 30px;
  margin-top: 50px;
  margin-bottom: 20px;
}
.btn-view{
  padding: 10px 20px;
  font-size: 16px;
  color: #a4161a;
  border: solid 3px #a4161a;
  border-radius: 40px;
  cursor: pointer;
  transition: color 0.2s, background-color 0.2s;
  }
  .btn-view:hover {
    color: #fff;
    background-color: #a4161a;
  }
.product-box{
  width: 90%;
  margin: 10px auto;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 100px;
}
.banner-product{
  flex: 1;
}

.banner-product img{
  width: 280px;
  height: 470px;
  border-radius: 30px;
  object-fit: cover;
  transition: transform 0.4s;
  }
  .banner-product img:hover {
    transform: scale(1.1);
  }

.product-list{
  flex: 3;
}
.btn-next{
  border: none;
  font-size: 24px;
  align-self: center;
}
.product-list ul {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  padding: 16px 0;
}
.product-box ul li {
  border-radius: 30px;
  transition: box-shadow 0.4s;
}

.product-box ul li:hover {
  box-shadow: 0 10px 16px rgba(0, 0, 0, 0.35);
}

.sale-product{
  margin: 20px auto;  
  text-align: center;
}
.type-product-list{
  width: 80%;
  margin: 0 auto;
}
.type-product-list ul{
  display: flex;
  justify-content: space-between;

}