* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
}
*{
    padding: 0;
    margin: 0;
}
.side-bar a{
    text-decoration: none;
    color: #ffffff;
}
.side-bar{
    background-color: #1E293B;
    width:250px;
    height: 100vh;
    position: fixed;
    color: #ffffff;
}
.side-bar .logo
{
    height: 150px;
    background-color: #1E293B;
}
.side-bar .logo{
    align-content: center;
    text-align: center;
}
.side-bar .menu{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: calc(100vh - 150px); 

}
.side-bar .menu .system{

}
.side-bar .menu li{
    font-size: 18px;
    width: 100%;
    align-content: center;
    margin: 30px 0;
    box-sizing: border-box; 
    transition: all 0.3s ease;
    border-left: #1E293B solid 4px; 
}
.menu  li a {
  display: block;          
  padding: 10px 15px;     
}
.side-bar .menu li:hover{
    border-left: #3B82F6 solid 4px; 
    border-radius: 3px;
    background-color: #334155;
}
.side-bar .menu .system li:last-child{
    position: relative;
}

.side-bar .menu .system li .message{
    position: relative;
    font-size: 12px;
    top: -10px;
    left: 10px;
    background-color: #EF4444;
    padding: 2px 7px;
    border-radius: 50%;

}
.side-bar .menu .system li:last-child::before{
    content: "";
    position: absolute;
    right: 75px;
    top: -14px;
    width: 150px;
    height: 2px; 
    background-color: #ffffff39; 
}
.side-bar .menu .support li{
    font-size: 16px;
    margin: 15px 0px;
}
.side-bar i{
    padding-right: 15px;
}
.main-content{
    margin-left: 250px;
    width: calc(100vw-250px);
    display: flex;
    flex-direction: column;
}
.main-content .admin-header{
    width: calc(100vw - 250px);
    display: flex;
    justify-content: space-between;
    height: 150px;
    box-sizing: border-box;
    align-items: center;
    position: fixed;
    top: 0;
    left: 250px;
    z-index: 10000;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); 
    background-color: #ffffff;
}
.admin-header h1{
    font-weight: 300;
    margin-left: 30px;
    flex: 1;
}
.admin-header .admin-info{
    display: flex;
    flex: 0.5;
}

.admin-header .admin-info .search-bar button,input{
    border: none;
    font-size: 16px;
    margin-right: 5px;
}
.admin-header .admin-info .info{
    display: flex;
    cursor: pointer;

}
.admin-header .admin-info .info i{
    font-size: 16px;
    margin-left: 10px;}
.info .noti{
    position: relative;
    top: -10px;
    font-size: 11px;
    background-color: #EF4444; 
    color: white;
    padding: 3px 5px;
    border-radius: 50%;
}

.admin-header .admin-info img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: relative;
    top: -15px;
    margin: 0 10px;
}
.admin-header .admin-info .nametag{
}

.main-content .content{
  margin-top: 150px;
  min-height: 100vh;
}