
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
}
*{
    padding: 0;
    margin: 0;
}
.side-bar a{
    text-decoration: none;
    color: #ffffff;
}
.side-bar{
    background-color: #333333;
    width:250px;
    height: 100vh;
    position: fixed;
    color: #ffffff;
}
.side-bar .logo
{
    height: 150px;
    background-color: #333333;
}
.side-bar .logo{
    align-content: center;
    text-align: center;
}
.side-bar .menu{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: calc(100vh - 150px); 

}
.side-bar .menu .system{

}
.side-bar .menu .system li{
    font-size: 18px;
    width: 100%;
    height: 50px;
    align-content: center;
    margin: 30px 0;
    padding-left: 30px;
    box-sizing: border-box;
    cursor: pointer;
    transition: all 0.3s ease;
    border-left: #333333 solid 4px;
}
.side-bar .menu .system li:hover{
    border-left: #fff solid 4px;
    border-radius: 3px;
    background-color: rgb(73, 73, 73);
}
.side-bar .menu .system li:last-child{
    position: relative;
}

.side-bar .menu .system li .message{
    position: relative;
    font-size: 12px;
    top: -10px;
    left: 10px;
    background-color: #757575;
    padding: 2px 7px;
    border-radius: 50%;

}
.side-bar .menu .system li:last-child::before{
    content: "";
    position: absolute;
    right: 75px;
    top: -14px;
    width: 150px;
    height: 2px; 
    background-color: #ffffff39; 
}
.side-bar .menu .support li{
    font-size: 16px;
    width: 100%;
    height: 40px;
    align-content: center;
    margin: 10px 0;
    padding-left: 30px;
    box-sizing: border-box;
    cursor: pointer;
    transition: all 0.3s ease;
    border-left: #333333 solid 4px;
}
.side-bar .menu .support li:hover{
    border-left: #fff solid 4px;
    border-radius: 3px;
    background-color: rgb(73, 73, 73);
}
.side-bar i{
    padding-right: 15px;
}
.main-content{
    margin-left: 250px;
    width: calc(100vw-250px);
    display: flex;
    flex-direction: column;
}
.main-content .admin-header{
    width: calc(100vw - 250px);
    display: flex;
    justify-content: space-between;
    height: 150px;
    box-sizing: border-box;
    align-items: center;
    position: fixed;
    top: 0;
    left: 250px;
    z-index: 10000;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); 
    background-color: #ffffff;
}
.admin-header h1{
    font-weight: 300;
    margin-left: 30px;
    flex: 1;
}
.admin-header .admin-info{
    display: flex;
    flex: 0.5;
}

.admin-header .admin-info .search-bar button,input{
    border: none;
    font-size: 16px;
    margin-right: 5px;
}
.admin-header .admin-info .info{
    display: flex;
    cursor: pointer;

}
.admin-header .admin-info .info i{
    font-size: 16px;
    margin-left: 10px;}
.info .noti{
    position: relative;
    top: -10px;
    font-size: 11px;
    background-color: #333333;
    color: white;
    padding: 3px 5px;
    border-radius: 50%;
}

.admin-header .admin-info img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: relative;
    top: -15px;
    margin: 0 10px;
}
.admin-header .admin-info .nametag{
}

.main-content .content{
  margin-top: 150px;
  min-height: 100hv;
  height: 1000px;
}
.content .stat-top .stat-card{
    box-sizing: border-box;
    width: 25%;
    height: 200px;
    color:#fff;
    padding: 30px;
    font-size: 17px;
    border-radius: 30px;
    background-color: #333333;
    box-shadow: 0 4px 20px rgba(0,0,0,0.05);
}
.stat-card .stat-header{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}
.stat-header i{
  position: relative;
  top: 5px;
}
.stat-header .stat-name{
    flex:3;
    margin-left: 10px;
}
.stat-card .stat-value{
    margin: 20px 0;
}
.stat-card .stat-footer{
    display: flex;
    justify-content: space-between;
}
.stat-card .stat-footer .percent{
    flex: 2;
    margin-left: 10px;
}
.main-content{
    padding: 20px;
}
.stat-top{
    display: flex;
    justify-content: space-between;
}
.stat-top .stat-card:not(:first-child) {
  background-color: #ffffff;
  color:#333333;
}
.stat-bottom{
    display: flex;
    margin-top: 50px;
}
.stat-bottom .sale-performance{
    flex:0.7;
}
.stat-bottom .sale-performance .header{
    display: flex;
    justify-content: space-between;
}
.header .export{
    align-content: center;
    padding-right: 50px;
}
.header .export button{
    padding : 10px;
    border: none;
    font-size: 15px;
    background-color: #ffffff;
}
.header .export button i{
    margin-left: 5px;
}
.stat-bottom .right-chart{
    flex:0.3;
    margin-left: 20px;
}