/* === CART HISTORY === */

.history-page {
  width: 100%;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.08);
}



.history-table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

.history-table th, .history-table td {
  padding: 12px 16px;
  border-bottom: 1px solid #ddd;
}

.history-table th {
  background: #a4161a;
  color: #fff;
}

.history-table tr:hover {
  background: #fff6f6;
}

.btn-view {
  background: #a4161a;
  color: #fff;
  border: none;
  padding: 6px 14px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.btn-view:hover {
  background: #8b1316;
}

.flash-sale-list ul::-webkit-scrollbar {
  height: 8px; 
  transition: opacity 0.3s;
  opacity: 0; 
}

.flash-sale-list ul:hover::-webkit-scrollbar {
  opacity: 1; 
}

.flash-sale-list ul::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.05);
  border-radius: 10px;
}

.flash-sale-list ul::-webkit-scrollbar-thumb {
  background: linear-gradient(45deg, #a4161a, #e63946); 
  border-radius: 10px;
  box-shadow: 0 0 6px rgba(0,0,0,0.2);
}

.flash-sale-list ul::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(45deg, #c71f1f, #ff6b6b);
}
.history-controls {
  display: flex;
  justify-content: flex-end; /* Đẩy bộ lọc sang phải */
  margin-bottom: 20px;
  align-items: center;
}

.history-controls label {
  font-weight: 600;
  color: #333;
  font-size: 14px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}